{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}    
    <center><img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Twitter_logo.svg" width=50% height="auto"></center>
    <hr>
    <h1>Connect a Twitter account</h1>
    <h2>Housekeeping</h2>
    <ul>
        <li>If you're confused, everything you need to know is in the <a href="{{ url_for('auth.send_literature', document_name='twitter_setup') }}">set-up instructions</a>.</li>
        <li><mark>Remember, times are in UTC!</mark> Just for reference, the time in UTC was <b>{{ time }}</b> when you loaded this page.</li>
        <li>We know that the UTC time is frustrating and it adds a layer of complexity. We apologize for the inconvenience; please know that we are working on a way to convert UTC times into your local timezone.</li>
        <li>Use of Twitter's logo does not imply that IcyFire is sponsored by, affiliated with, endorsed by, or otherwise connected with Twitter.</li>
    </ul>
    <br>
    <hr>
    <h2>Account and scheduling</h2>
    <div class="row">
		<div class="col-md-4">
			{{ wtf.quick_form(form) }}
		</div>
	</div>
{% endblock %}