{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

    <center><h1>Welcome! Which one best describes you?</h1></center>
    <hr>
    <center><table>
        <td><a href="{{ url_for('auth.register_user') }}"><span class="material-icons">person</span></a></td>
        <td><a href="{{ url_for('auth.register_user') }}"><h3>New user</h3></a></td>
    </table>
    <p>I am a new user. I know my domain's name.</p></center>
    <hr>
    <center><table>
        <td><a href="{{ url_for('auth.register_domain') }}"><span class="material-icons">domain</span></a></td>
        <td><a href="{{ url_for('auth.register_domain') }}"><h3>New domain</h3></a></td>
    </table>
    <p>I am a soon-to-be domain admin. I have my activation code ready.</p></center>
    <hr>
    <center><table>
        <td><a href="{{ url_for('auth.register_partner') }}"><span class="material-icons">group_work</span></a></td>
        <td><a href="{{ url_for('auth.register_partner') }}"><h3>New IcyFire contractor</h3></a></td>
    </table>
    <p>I work at IcyFire. I have my CRTA information ready.<p></center>
{% endblock %}