flask
python-dotenv
flask-wtf
flask-sqlalchemy
flask-migrate
flask-login
flask-bootstrap
flask-moment
pdfrw
flask-mail
pyjwt
facebook-sdk
python-twitter
pytumblr
praw
cryptography
markdown
dropbox
stripe

psycopg2==2.7.3.1
gunicorn==19.7.1