{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Sign up</h1>

    <h2>Here's how our payment process works.</h2>
    <ol>
        <li>Read the <a href="{{ url_for('legal.service_agreement') }}">Service Agreement</a>.</li>
        <li>Fill out the form below, then click "Next".</li>
        <li>Click "Buy now" on the product page.</li>
        <li>Enter your payment information, then click "Pay $100.00".</li>
        <li>On success, your receipt and signed Service Agreement will be displayed. Download this.</li>
        <li>Go to <a href="icy-fire.com">the IcyFire home page</a>, then click <a href="icy-fire.com/register">"Register"</a> in the top-right corner.</li>
        <li>Click "New domain," fill out the required fields, input your activation code from the receipt, then click "Register."</li>
    </ol>
    <hr>

    <div class="row">
		<div class="col-md-4">
			{{ wtf.quick_form(form) }}
		</div>
	</div>
    <br>
    <p>For information about IcyFire handles personal data, see our <a href="{{ url_for('legal.privacy_policy') }}">Privacy Policy</a> and <a href="{{ url_for('legal.cookie_policy') }}">Cookie Policy</a>.</p>
{% endblock %}