{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Flagged Incidents</h1>

    <table width=100%>
        <tr>
            <th>Incident ID</th>
            <th>Timestamp</th>
            <th>IP address</th>
            <th>User ID</th>
            <th>Domain ID</th>
            <th>Endpoint</th>
            <th>Status code</th>
            <th>Status message</th>
        </tr>
        {% for flag in flags %}
            <tr>
                <td>{{ flag.id }}</td>
                <td>{{ moment(flag.timestamp).format('LLL') }}</td>
                <td><a href="{{ url_for('security.sort_by_ip', ip_address=flag.ip_address) }}">{{ flag.ip_address }}</td>
                {% if post.domain_id is not none %}
                    <td><a href="{{ url_for('security.sort_by_domain', domain_id=post.domain_id) }}">{{ post.domain_id }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}
                {% if post.user_id is not none %}
                    <td><a href="{{ url_for('security.sort_by_user', user_id=post.user_id) }}">{{ post.user_id }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}
                <td>{{ flag.endpoint }}</td>
                <td><a href="{{ url_for('security.sort_by_status_code', status_code=flag.status_code) }}">{{ flag.status_code }}</td>
                <td>{{ flag.status_message }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}