{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1>VIEW BLUEPRINT - {{ blueprint_name }}</h1>

    <h2>Access granted</h2>
    <table width=100%>
        <tr>
            <th>Incident ID</th>
            <th>Timestamp</th>
            <th>Domain ID</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Endpoint</th>
            <th>Status code</th>
            <th>Status message</th>
        </tr>
        {% for post in granted %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.domain_id is not none %}
                    <td><a href="{{ url_for('security.sort_by_domain', domain_id=post.domain_id) }}">{{ post.domain_id }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}
                {% if post.user_id is not none%}
                    <td><a href="{{ url_for('security.sort_by_user', user_id=post.user_id) }}">{{ post.user_id }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}
                <td><a href="{{ url_for('security.sort_by_ip', ip_address=post.ip_address) }}">{{ post.ip_address }}</a></td>
                <td>{{ post.endpoint }}</td>
                <td><a href="{{ url_for('security.sort_by_status_code', status_code=post.status_code) }}">{{ post.status_code }}</a></td>
                <td>{{ post.status_message }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Access denied</h2>
    <table width=100%>
        <tr>
            <th>Incident ID</th>
            <th>Timestamp</th>
            <th>Domain ID</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Endpoint</th>
            <th>Status code</th>
            <th>Status message</th>
        </tr>
        {% for post in denied %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.domain_id is not none %}
                    <td><a href="{{ url_for('security.sort_by_domain', domain_id=post.domain_id) }}">{{ post.domain_id }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}
                {% if post.user_id is not none %}
                    <td><a href="{{ url_for('security.sort_by_user', user_id=post.user_id) }}">{{ post.user_id }}</a></td>
                {% else %}
                    <td>None</td>
                {% endif %}
                <td><a href="{{ url_for('security.sort_by_ip', ip_address=post.ip_address) }}">{{ post.ip_address }}</a></td>
                <td>{{ post.endpoint }}</td>
                <td><a href="{{ url_for('security.sort_by_status_code', status_code=post.status_code) }}">{{ post.status_code }}</a></td>
                <td>{{ post.status_message }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}