.invisible {
  border: none;
}

.facebook {
  background-color: #4267B2;
  color: #FFFFFF;
}

.twitter {
  background-color: #1DA1F2;
  color: #FFFFFF;
}

.tumblr {
  background-color: #34526f;
  color: white;
}

.reddit {
  background-color: #FF4500;
  color: black;
}

.youtube {
  background-color: #FF0000;
  color: #282828;
}

.linkedin {
  background-color: #2867B2;
  color: #FFFFFF;
}

.action-needed {
  background-color: yellow;
}

.normal {
  background-color: green;
}

.bad {
  background-color: #ff6666;
}

.ok {
  background-color: #ffff66;
}

.good {
  background-color: #85e085;
}

.ac-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.business-header {
  height: 70vh;
  min-height: 300px;
  background: url('scenic_images/Cannon_Beach_Haystack_Rock.jfif') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: -30px
}

.business-header h2, .innerheader h2 {
      font-size: 1.3rem;
  }
.business-header h1 {
      font-size: 1.7rem;
}

.business-header h1 {
    margin-top: 15rem;
    font-weight: bold;
    text-shadow: 0 0 30px rgb(0, 0, 0);
}

@media (max-width: 990px) {
  .display-3 {
      font-size: 3rem;
  }

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

table, th, td {
  border-collapse: separate;
  border-spacing:0 15px;
}

.action-needed-dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.normal-dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
}