.invisible {
  border: none;
}

.facebook {
  background-color: #4267B2;
  color: #FFFFFF;
}

.twitter {
  background-color: #1DA1F2;
  color: #FFFFFF;
}

.tumblr {
  background-color: #34526f;
  color: white;
}

.reddit {
  background-color: #FF4500;
  color: black;
}

.youtube {
  background-color: #FF0000;
  color: #282828;
}

.linkedin {
  background-color: #2867B2;
  color: #FFFFFF;
}

.action-needed {
  background-color: yellow;
}

.normal {
  background-color: green;
}