{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

    <h1>Dashboard</h1>
    {% if current_user.is_admin is true %}
        <center>
        <h3><a href="{{ url_for('auth.link_social') }}">Link social accounts</a></h3>
        </center>
        <hr>
    {% endif %}
    <br>
    <table width=100%>
        <tr>
            <th>New Short Text</th>
            <th>New Long Text</th>
            <th>New Image</th>
            <th>New Video</th>
        </tr>
        <tr>
            <td><a href="{{ url_for('main.choose_queues', post_type='short_text') }}"><span class="material-icons">short_text</span></a></td>
            <td><a href="{{ url_for('main.choose_queues', post_type='long_text') }}"><span class="material-icons">format_align_left</span></a></td>
            <td><a href="{{ url_for('main.choose_queues', post_type='image') }}"><span class="material-icons">insert_photo</span></a></td>
            <td><a href="{{ url_for('main.choose_queues', post_type='video') }}"><span class="material-icons">movie</span></a></td>
        </tr>
    </table>
    <br>

    <hr>
    <h2>Facebook Queues</h2>
    {% for x in facebook_creds %}
        <h3><b>{{ x.alias }}</b></h3>
        {% for y in facebook_times %}
            {% if y.facebook_cred_id == x.id %}
                {% if y.day_of_week == 1 %}
                    <p>Mondays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 2 %}
                    <p>Tuesdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 3 %}
                    <p>Wednesdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 4 %}
                    <p>Thursdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 5 %}
                    <p>Fridays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 6 %}
                    <p>Saturdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 7 %}
                    <p>Sundays at {{ y.time }} UTC</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <table width=100%>
            <tr class="facebook">
                <th>Post type</th>
                <th>Timestamp (local)</th>
                <th>Body</th>
                <th>Link URL</th>
                <th>Multimedia URL</th>
                <th>Tags</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for post in facebook_posts %}
                {% if post.cred_id == x.id %}
                    <tr>
                        {% if post.post_type|int == 1 %}
                            <td>Short Text</td>
                        {% elif post.post_type|int == 2 %}
                            <td>Long Text</td>
                        {% elif post.post_type|int == 3 %}
                            <td>Image</td>
                        {% elif post.post_type|int == 4 %}
                            <td>Video</td>
                        {% endif %}
                        <td>{{ moment(post.timestamp).format('LLL') }}</td>
                        <td>{{ post.body }}</td>
                        {% if post.link_url is not none %}
                            <td><a href="{{ post.link_url }}">Link URL</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        {% if post.multimedia_url is not none %}
                            <td><a href="{{ post.multimedia_url }}">Image / Video URL</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        <td>{{ post.tags }}</td>
                        {% if post.post_type|int == 1 %}
                            <td><a href="{{ url_for('main.update_short_text', platform='facebook', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 2 %}
                            <td><a href="{{ url_for('main.update_long_text', platform='facebook', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 3 %}
                            <td><a href="{{ url_for('main.update_image', platform='facebook', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 4 %}
                            <td><a href="{{ url_for('main.update_video', platform='facebook', post_id=post.id) }}">Update</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('main.delete_post', platform='facebook', post_id=post.id) }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}

    <hr>
    <h2>Twitter Queues</h2>
    {% for x in twitter_creds %}
        <h3><b>{{ x.alias }}</b></h3>
        {% for y in twitter_times %}
            {% if y.twitter_cred_id == x.id %}
                {% if y.day_of_week == 1 %}
                    <p>Mondays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 2 %}
                    <p>Tuesdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 3 %}
                    <p>Wednesdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 4 %}
                    <p>Thursdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 5 %}
                    <p>Fridays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 6 %}
                    <p>Saturdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 7 %}
                    <p>Sundays at {{ y.time }} UTC</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <table width=100%>
            <tr class="twitter">
                <th>Post type</th>
                <th>Timestamp (local)</th>
                <th>Body</th>
                <th>Link URL</th>
                <th>Multimedia URL</th>
                <th>Tags</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for post in twitter_posts %}
                {% if post.cred_id == x.id %}
                    <tr>
                        {% if post.post_type|int == 1 %}
                            <td>Short Text</td>
                        {% elif post.post_type|int == 2 %}
                            <td>Long Text</td>
                        {% elif post.post_type|int == 3 %}
                            <td>Image</td>
                        {% elif post.post_type|int == 4 %}
                            <td>Video</td>
                        {% endif %}
                        <td>{{ moment(post.timestamp).format('LLL') }}</td>
                        <td>{{ post.body }}</td>
                        {% if post.link_url is not none %}
                            <td><a href="{{ post.link_url }}">Link URL</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        {% if post.multimedia_url is not none %}
                            <td><a href="{{ post.multimedia_url }}">Image / Video URL</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        <td>{{ post.tags }}</td>
                        {% if post.post_type|int == 1 %}
                            <td><a href="{{ url_for('main.update_short_text', platform='twitter', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 2 %}
                            <td><a href="{{ url_for('main.update_long_text', platform='twitter', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 3 %}
                            <td><a href="{{ url_for('main.update_image', platform='twitter', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 4 %}
                            <td><a href="{{ url_for('main.update_video', platform='twitter', post_id=post.id) }}">Update</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('main.delete_post', platform='twitter', post_id=post.id) }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}

    <hr>
    <h2>Tumblr Queues</h2>
    {% for x in tumblr_creds %}
        <h3><b>{{ x.alias }}</b></h3>
        {% for y in tumblr_times %}
            {% if y.tumblr_cred_id == x.id %}
                {% if y.day_of_week == 1 %}
                    <p>Mondays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 2 %}
                    <p>Tuesdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 3 %}
                    <p>Wednesdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 4 %}
                    <p>Thursdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 5 %}
                    <p>Fridays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 6 %}
                    <p>Saturdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 7 %}
                    <p>Sundays at {{ y.time }} UTC</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <table width=100%>
            <tr class="tumblr">
                <th>Post type</th>
                <th>Timestamp (local)</th>
                <th>Body</th>
                <th>Link URL</th>
                <th>Multimedia URL</th>
                <th>Tags</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for post in tumblr_posts %}
                {% if post.cred_id == x.id %}
                    <tr>
                        {% if post.post_type|int == 1 %}
                            <td>Short Text</td>
                        {% elif post.post_type|int == 2 %}
                            <td>Long Text</td>
                        {% elif post.post_type|int == 3 %}
                            <td>Image</td>
                        {% elif post.post_type|int == 4 %}
                            <td>Video</td>
                        {% endif %}
                        <td>{{ moment(post.timestamp).format('LLL') }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.body }}</td>
                        {% if post.link_url is not none %}
                            <td><a href="{{ post.link_url }}">Link URL</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        {% if post.multimedia_url is not none %}
                            <td><a href="{{ post.multimedia_url }}">Image / Video URL</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        <td>{{ post.tags }}</td>
                        {% if post.caption is not none %}
                            <td>{{ post.caption }}</td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        {% if post.post_type|int == 1 %}
                            <td><a href="{{ url_for('main.update_short_text', platform='tumblr', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 2 %}
                            <td><a href="{{ url_for('main.update_long_text', platform='tumblr', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 3 %}
                            <td><a href="{{ url_for('main.update_image', platform='tumblr', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 4 %}
                            <td><a href="{{ url_for('main.update_video', platform='tumblr', post_id=post.id) }}">Update</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('main.delete_post', platform='tumblr', post_id=post.id) }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}

    <hr>
    <h2>Reddit Queues</h2>
    {% for x in reddit_creds %}
        <h3><b>{{ x.alias }}</b></h3>
        {% for y in reddit_times %}
            {% if y.reddit_cred_id == x.id %}
                {% if y.day_of_week == 1 %}
                    <p>Mondays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 2 %}
                    <p>Tuesdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 3 %}
                    <p>Wednesdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 4 %}
                    <p>Thursdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 5 %}
                    <p>Fridays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 6 %}
                    <p>Saturdays at {{ y.time }} UTC</p>
                {% elif y.day_of_week == 7 %}
                    <p>Sundays at {{ y.time }} UTC</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <table width=100%>
            <tr class="reddit">
                <th>Post type</th>
                <th>Timestamp (local)</th>
                <th>Body</th>
                <th>Link URL</th>
                <th>Multimedia URL</th>
                <th>Tags</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for post in reddit_posts %}
                {% if post.cred_id == x.id %}
                    <tr>
                        {% if post.post_type|int == 1 %}
                            <td>Short Text</td> 
                        {% elif post.post_type|int == 2 %}
                            <td>Long Text</td>
                        {% elif post.post_type|int == 3 %}
                            <td>Image</td>
                        {% elif post.post_type|int == 4 %}
                            <td>Video</td>
                        {% endif %}
                        <td>{{ moment(post.timestamp).format('LLL') }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.body }}</td>
                        {% if post.link_url is not none %}
                            <td><a href="{{ post.link_url }}">Link URL</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        {% if post.image_url is not none %}
                            <td><a href="{{ post.image_url }}">Image URL</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        {% if post.video_url is not none %}
                            <td><a href="{{ post.video_url }}">Video URL</a></td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        {% if post.post_type|int == 1 %}
                            <td><a href="{{ url_for('main.update_short_text', platform='reddit', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 2 %}
                            <td><a href="{{ url_for('main.update_long_text', platform='reddit', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 3 %}
                            <td><a href="{{ url_for('main.update_image', platform='reddit', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 4 %}
                            <td><a href="{{ url_for('main.update_video', platform='reddit', post_id=post.id) }}">Update</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('main.delete_post', platform='reddit', post_id=post.id) }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}