{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!---Fix timeslot rendering--->

{% block app_content %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

    <h1>Dashboard</h1>
    <br>
    <table width=100%>
        <tr>
            <th>New Short Text</th>
            <th>New Long Text</th>
            <th>New Image</th>
            <th>New Video</th>
        </tr>
        <tr>
            <td><a href="{{ url_for('main.create_short_text') }}"><span class="material-icons">short_text</span></a></td>
            <td><a href="{{ url_for('main.create_long_text') }}"><span class="material-icons">format_align_left</span></a></td>
            <td><a href="{{ url_for('main.create_image') }}"><span class="material-icons">insert_photo</span></a></td>
            <td><a href="{{ url_for('main.create_video') }}"><span class="material-icons">movie</span></a></td>
        </tr>
    </table>
    <br>

    <hr>
    <h2>Facebook Queues</h2>
    {% for x in range(facebook_creds|length) %}
        <br>
        <h3><b>{{ facebook_creds[x].alias }}</b></h3>
        <p>{{ facebook_times[x] }} (UTC)</p>
        <table class="facebook" width=100%>
            <tr>
                <th>Post type</th>
                <th>Timestamp (local)</th>
                <th>Body</th>
                <th>Link URL</th>
                <th>Multimedia URL</th>
                <th>Tags</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for post in facebook_posts %}
                {% if post.cred_id == facebook_creds[x].id %}
                    <tr>
                        {% if post.post_type|int == 1 %}
                            <td>Short Text</td>
                        {% elif post.post_type|int == 2 %}
                            <td>Long Text</td>
                        {% elif post.post_type|int == 3 %}
                            <td>Image</td>
                        {% elif post.post_type|int == 4 %}
                            <td>Video</td>
                        {% endif %}
                        <td>{{ moment(post.timestamp).format('LLL') }}</td>
                        <td>{{ post.body }}</td>
                        <td><a href="{{ post.link_url }}">Link URL</a></td>
                        <td><a href="{{ post.multimedia_url }}">Image / Video URL</a></td>
                        <td>{{ post.tags }}</td>
                        {% if post.post_type|int == 1 %}
                            <td><a href="{{ url_for('main.update_short_text', platform='facebook', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 2 %}
                            <td><a href="{{ url_for('main.update_long_text', platform='facebook', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 3 %}
                            <td><a href="{{ url_for('main.update_image', platform='facebook', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 4 %}
                            <td><a href="{{ url_for('main.update_video', platform='facebook', post_id=post.id) }}">Update</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('main.delete_post', platform='facebook', post_id=post.id) }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <hr>
    {% endfor %}

    <hr>
    <h2>Twitter Queues</h2>
    {% for x in range(twitter_creds|length) %}
        <br>
        <h3><b>{{ twitter_creds[x].alias }}</b></h3>
        {% for x in range(twitter_times|length) %}
            <p>{{ twitter_times[x] }} (UTC)</p>
        {% endfor %}
        <table class="twitter" width=100%>
            <tr>
                <th>Post type</th>
                <th>Timestamp (local)</th>
                <th>Body</th>
                <th>Link URL</th>
                <th>Multimedia URL</th>
                <th>Tags</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for post in twitter_posts %}
                {% if post.cred_id == twitter_creds[x].id %}
                    <tr>
                        {% if post.post_type|int == 1 %}
                            <td>Short Text</td>
                        {% elif post.post_type|int == 2 %}
                            <td>Long Text</td>
                        {% elif post.post_type|int == 3 %}
                            <td>Image</td>
                        {% elif post.post_type|int == 4 %}
                            <td>Video</td>
                        {% endif %}
                        <td>{{ moment(post.timestamp).format('LLL') }}</td>
                        <td>{{ post.body }}</td>
                        <td><a href="{{ post.link_url }}">Link URL</a></td>
                        <td><a href="{{ post.multimedia_url }}">Image / Video URL</a></td>
                        <td>{{ post.tags }}</td>
                        {% if post.post_type|int == 1 %}
                            <td><a href="{{ url_for('main.update_short_text', platform='twitter', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 2 %}
                            <td><a href="{{ url_for('main.update_long_text', platform='twitter', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 3 %}
                            <td><a href="{{ url_for('main.update_image', platform='twitter', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 4 %}
                            <td><a href="{{ url_for('main.update_video', platform='twitter', post_id=post.id) }}">Update</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('main.delete_post', platform='twitter', post_id=post.id) }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <hr>
    {% endfor %}

    <hr>
    <h2>Tumblr Queues</h2>
    {% for x in range(tumblr_creds|length) %}
        <br>
        <h3><b>{{ tumblr_creds[x].alias }}</b></h3>
        <p>{{ tumblr_times[x] }} (UTC)</p>
        <table class="tumblr" width=100%>
            <tr>
                <th>Post type</th>
                <th>Timestamp (local)</th>
                <th>Body</th>
                <th>Link URL</th>
                <th>Multimedia URL</th>
                <th>Tags</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for post in tumblr_posts %}
                {% if post.cred_id == tumblr_creds[x].id %}
                    <tr>
                        {% if post.post_type|int == 1 %}
                            <td>Short Text</td>
                        {% elif post.post_type|int == 2 %}
                            <td>Long Text</td>
                        {% elif post.post_type|int == 3 %}
                            <td>Image</td>
                        {% elif post.post_type|int == 4 %}
                            <td>Video</td>
                        {% endif %}
                        <td>{{ moment(post.timestamp).format('LLL') }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.body }}</td>
                        <td><a href="{{ post.link_url }}">Link URL</a></td>
                        <td><a href="{{ post.multimedia_url }}">Image / Video URL</a></td>
                        <td>{{ post.tags }}</td>
                        <td>{{ post.caption }}</td>
                        {% if post.post_type|int == 1 %}
                            <td><a href="{{ url_for('main.update_short_text', platform='tumblr', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 2 %}
                            <td><a href="{{ url_for('main.update_long_text', platform='tumblr', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 3 %}
                            <td><a href="{{ url_for('main.update_image', platform='tumblr', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 4 %}
                            <td><a href="{{ url_for('main.update_video', platform='tumblr', post_id=post.id) }}">Update</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('main.delete_post', platform='tumblr', post_id=post.id) }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <hr>
    {% endfor %}

    <hr>
    <h2>Reddit Queues</h2>
    {% for x in range(reddit_creds|length) %}
        <br>
        <h3><b>{{ reddit_creds[x].alias }}</b></h3>
        <p>{{ reddit_times[x] }} (UTC)</p>
        <table class="reddit" width=100%>
            <tr>
                <th>Post type</th>
                <th>Timestamp (local)</th>
                <th>Body</th>
                <th>Link URL</th>
                <th>Multimedia URL</th>
                <th>Tags</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for post in reddit_posts %}
                {% if post.cred_id == reddit_creds[x].id %}
                    <tr>
                        {% if post.post_type|int == 1 %}
                            <td>Short Text</td> 
                        {% elif post.post_type|int == 2 %}
                            <td>Long Text</td>
                        {% elif post.post_type|int == 3 %}
                            <td>Image</td>
                        {% elif post.post_type|int == 4 %}
                            <td>Video</td>
                        {% endif %}
                        <td>{{ moment(post.timestamp).format('LLL') }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.body }}</td>
                        <td><a href="{{ post.link_url }}">Link URL</a></td>
                        <td><a href="{{ post.image_url }}">Image URL</a></td>
                        <td><a href="{{ post.video_url }}">Video URL</a></td>
                        {% if post.post_type|int == 1 %}
                            <td><a href="{{ url_for('main.update_short_text', platform='reddit', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 2 %}
                            <td><a href="{{ url_for('main.update_long_text', platform='reddit', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 3 %}
                            <td><a href="{{ url_for('main.update_image', platform='reddit', post_id=post.id) }}">Update</a></td>
                        {% elif post.post_type|int == 4 %}
                            <td><a href="{{ url_for('main.update_video', platform='reddit', post_id=post.id) }}">Update</a></td>
                        {% endif %}
                        <td><a href="{{ url_for('main.delete_post', platform='reddit', post_id=post.id) }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <hr>
    {% endfor %}

{% endblock %}