{% extends "base.html" %}

{% block app_content %}
    <img src="{{ url_for('static', filename='first_baptist_church_palmer.jpg') }}" alt="First Baptist Church in Palmer, CO" width=100% height="auto">

    <h1>Spreading the Good News online with IcyFire: an interview</h1>

    <b>Hi there. Would you like to introduce yourself to our readers?</b>
    <p>Sure. My name is Garrett Winehouse and I’m the youth pastor at First Baptist Church here in Palmer, Colorado.</p>

    <hr>

    <b>Tell us a little bit about your church.</b>
    <p>First Baptist Church is a fellowship of active believers who aim to bring honor and glory to Jesus Christ. We have two services – youth group on Wednesday evenings and normal service on Sunday mornings. We normally have about 50 adults and 20 children, but in the summer months, that number shoots up to 150 on Sundays and 50 on Wednesdays.</p>

    <hr>

    <b>Wow, that’s quite a difference. Why are there so many more people in the summer?</b>
    <p>Palmer is up in the mountains, so you get people coming to stay in their cabins during the summer. As it gets colder, people don’t come up as much, so our attendance drops.</p>

    <hr>

    <b>Gotcha. So your church recently subscribed to IcyFire. What prompted you to make that decision?</b>
    <p>We had to shut our doors because of the lockdown back in April. We were allowed to reopen in late May, but the damage was done and our congregation was less than half the size of what it was. You have all these people going through a tough time, who need to hear that God is there for them, who need to be around their friends, but they’re terrified to come in because they don’t want to catch the virus. As spiritual leaders, this put us in a really tough position, because it’s our job to comfort and provide guidance during tough times, but you can’t do that if no one’s coming in to your church. Our hands were pretty much tied.</p>
    <p>We started talking about social media, but none of us really knew that much about it. The young people wouldn’t help us because they didn’t want to get us sick, bless their hearts. So you have all these old folks bumbling around, trying to figure out how to send a tweet. Logging out of Twitter, trying to remember the other password, trying to learn what a Tumblr was...it was just a big mess, let’s put it that way.</p>
    <p>As we were struggling, Neil Rutherford called us up and told us about IcyFire. He said that it was a simple interface to social media sites, that we could use it to schedule posts, and that we could use it to have more people see our posts. We were really excited about being able to create all of our content on Monday, schedule it to go out at predetermined times during the week, and not have to worry about it for a week. It was also a 4-in-1 interface to all of these social media sites, and we thought that was great too. So we decided to go for it.</p>

    <hr>

    <b>And how has it worked out for you so far?</b>
    <p>Personally, I have loved how easy IcyFire makes it to delegate and get things done in times of COVID-19. You can play up everyone’s strengths, even while everyone is working at home and socially distancing.</p>
    <p>Let me give you an example. Back in May, I wanted to make a Twitter post about the Plagues of Egypt and what that means in today’s context. I write out this draft, then call up Jeff, a young, tech-savvy member of our congregation, to see what he thinks before I post it. He says, “Pastor Garrett, you know you can only write 280 characters in a tweet, right?” Ugh.</p>
    <p>So we work together, he on his computer and me on mine, to shorten this draft into bite-size portions. We actually divided the draft into three days of content, just going off this Plagues of Egypt theme. And Jeff explains to me that by dividing up content like that, you can keep people engaged and coming back for more. You know, kind of like a TV show where it ends on a cliffhanger and you have to come back for more next week.</p>
    <p>Jeff then says that posts with pictures stand out more, so we should try to add pictures. We can’t find any good-looking pictures of the Nile filled with blood (probably a good thing), so Jeff puts me in contact with this Photoshop expert. We get this person set up as a user on our IcyFire account, and within the hour, we have a picture of a blood-red Nile.</p>
    <p>We all had such vastly different skill sets, and we were separated because of this virus. I don’t know anything about Photoshop, and Jeff can’t compose a sermon. Yet we were able to create something where the whole is greater than the sum of its parts. And that frankly wouldn’t have been possible without IcyFire.</p>

    <hr>

    <b>That’s a great story. How else has your church used IcyFire?</b>
    <p>Well, let’s see. We use it for content organization, organizing posts by theme. So on Mondays mornings, for example, our theme is #MondayBlessings. Instead of having to come up with a spur-of-the-moment post on Monday morning, we can take the whole week to put some thought into it and really workshop it. And as soon as it’s in the queue, we know it’s going to go out on Monday morning at 6am and we don’t have to worry about it.</p>
    <p>We’re also thinking of ways we can use IcyFire to amplify the voices of our congregants. We might ask everyone what they’re thankful for, then ask them to log in to IcyFire and post their response there. Then over the period of a week, everyone’s post would be published to our Twitter account. We’re really excited about this, because 1) it would engage our members, 2) it would give outsiders a feel for our culture and how we do things, and 3) it would make my job easier. Ha ha, you didn’t write down that last part, did you?</p>

    <hr>

    <b>Don’t worry, we’ll change the names later to protect your privacy. Let’s talk about money. At one grand a year, IcyFire is quite an expensive purchase. How do you reconcile that in your budget? How do you justify that expense?</b>
    <p>We don’t think of it as an expense, we think of it more as an investment. With the levels of outreach that we’re achieving with IcyFire, this may very well supplement our church’s budget and help with fundraising. Who knows? We’re not far enough along yet to see that really manifest, but we’re hopeful and we’re praying.</p>
    <p>You look at what we were doing before the pandemic, collecting donations from people in our congregation. People are donating half of what they were 20 years ago, and 40% of our congregation doesn’t give at all. This is really concerning for us, since we rely heavily on those funds to do good in the community, to spread God’s love, and to fund our operations. So you look at that revenue stream starting to dry up, and you start thinking, “Is there a smarter way to do this?”</p>
    <p>One reason I say IcyFire is an investment is because it gets our message out to everyone, not just our congregation. When it’s done right and you really get your message out there, I’ve heard online fundraising is more effective than traditional tithing. So when we do fundraise, we can reach a much larger audience because everyone on the internet can see it. I heard of a church in Pennsylvania that was able to raise tens of thousands of dollars for church repairs on GoFundMe. So that’s definitely something we’re excited about and looking into.</p>

    <hr>

    <b>That’s great. Is there anything else you’d like to add before we wrap up?</b>
    <p>One more thing I forgot to add. Another reason I say IcyFire is an investment is because it’s a tool that allows us to better communicate God’s message. In my mind, it’s almost like buying a projector or a speaker. Projectors help convey visual messages, speakers help convey audio messages, and IcyFire helps convey digital messages. Times are changing, and we realize that we need to move some of our preaching into the digital realm. And so far, IcyFire has done a great job of helping us achieve that.</p>

    <hr>
    
    <b>Alright, thank you so much for taking the time to speak with me. Have a great rest of your day, Pastor.</b>
    <p>You as well. Stay healthy and safe, and God bless.</p>

    <hr>

    <article class="ready-to-get-started">
        <center><img src="{{ url_for('static', filename='ready_to_get_started.JPG') }}" alt="Ready to get started?" width=100% height="auto"></center>
        <br>
        <center><p><a href="{{ url_for('promo.pricing') }}"><b>Pricing »</b></a> | <a href="{{ url_for('promo.contact_sales') }}"><b>Contact sales »</b></a></p></center>
    </article>
{% endblock %}