{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>About us</h1>

    <p>Hi there! We're a tech start-up based in the United States. Our goal is to build simple yet powerful tools so that businesses can build effective digital storefronts and harness the power of technology to drive sales. Right now, we're developing a tool that helps small businesses automate their social media posts. Stay tuned for what we develop next.</p>

    <p>We're driven by the following principles:</p>

    <h2>
{% endblock %}