{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <img src="{{ url_for('promo.random_image', image_type='scenic') }}" width=100% height="auto">
    <hr>
    <center>
    <h1>IcyFire Blog</h1>
    </center>
    <hr>
    {% for date in ordered %}
        <h3>{{ date }} - <a href="{{ url_for('promo.article', article_path= article_dict[date][1], article_title= article_dict[date][0]) }}">{{ article_dict[date][0] }}</a></h3>
        <hr>
    {% endfor %}

{% endblock %}