{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>You're one step away from your free download!</h1>

    <h2>Tell us a little about yourself first.</h2>

    <div class="row">
		<div class="col-md-4">
			{{ wtf.quick_form(form) }}
		</div>
	</div>
    <br>
    <p>For information about IcyFire handles personal data, see our <a href="{{ url_for('legal.privacy_policy') }}">Privacy Policy</a> and <a href="{{ url_for('legal.cookie_policy') }}">Cookie Policy</a>.</p>
{% endblock %}