{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <center><h1>How we stack up</h1></center>
    <p>IcyFire currently offers integrations to four social media networks: Facebook, Twitter, Tumblr, and Reddit. More integrations are currently in development.</p>
    <p>This page compares existing social media management solutions to IcyFire. We look at the perks of each solution, as well as how long it takes to break even (i.e. how long it takes for IcyFire's flat fee to become a cheaper option than their monthly fees). Enjoy!</p>

    <h2>AgoraPulse Large vs. IcyFire</h2>
    <ul style="list-style-type:none;">
        <li><a href="https://www.agorapulse.com/pricing/">Source</a></li>
        <li><mark><b>52% of the price</b></mark></li>
    </ul>

    <table width=100%>
        <tr>
            <th>Criteria</th>
            <th>AgoraPulse Large</th>
            <th>IcyFire</th>
        </tr>
        <tr>
            <td>Users</td>
            <td style="background-color:#F08080">4</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Social accounts</td>
            <td style="background-color:#F08080">25</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Unlimited content</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
        <tr>
            <td>Unified calendar</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
        <tr>
            <td>Social CRM</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#F08080">No</td>
        </tr>
    </table>

    <hr>

    <h2>Buffer Business vs. IcyFire</h2>
    <ul style="list-style-type:none;">
        <li><a href="https://buffer.com/pricing/publish#compare-features">Source</a></li>
        <li><mark><b>84% of the price</b></mark></li>
    </ul>

    <table width=100%>
        <tr>
            <th>Criteria</th>
            <th>Buffer Business</th>
            <th>IcyFire</th>
        </tr>
        <tr>
            <td>Users</td>
            <td style="background-color:#F08080">6</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Social accounts</td>
            <td style="background-color:#F08080">25</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Unlimited content</td>
            <td style="background-color:#F08080">No</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
        <tr>
            <td>Instagram support</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#F08080">No</td>
        </tr>
        <tr>
            <td>Approval workflow</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
    </table>

    <hr>

    <h2>HootSuite Team vs. IcyFire</h2>
    <ul style="list-style-type:none;">
        <li><a href="https://hootsuite.com/plans/team">Source</a></li>
        <li><mark><b>65% of the price</b></mark></li>
    </ul>

    <table width=100%>
        <tr>
            <th>Criteria</th>
            <th>HootSuite Team</th>
            <th>IcyFire</th>
        </tr>
        <tr>
            <td>Users</td>
            <td style="background-color:#F08080">3</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Social accounts</td>
            <td style="background-color:#F08080">20</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Unlimited content</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
        <tr>
            <td>Key performance metrics</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#F08080">No</td>
        </tr>
        <tr>
            <td>Watermarked content</td>
            <td style="background-color:#F08080">Yes</td>
            <td style="background-color:#aed581">No</td>
        </tr>
        <tr>
            <td>Integrated security infrastructure</td>
            <td style="background-color:#F08080">Pay extra to unlock</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
    </table>

    <hr>

    <h2>Loomly Standard vs. IcyFire</h2>
    <ul style="list-style-type:none;">
        <li><a href="https://www.loomly.com/pricing">Source</a></li>
        <li><mark><b>146% of the price</b></mark></li>
    </ul>

    <table width=100%>
        <tr>
            <th>Criteria</th>
            <th>Loomly Standard</th>
            <th>IcyFire</th>
        </tr>
        <tr>
            <td>Users</td>
            <td style="background-color:#F08080">6</td>
            <td style="background-color:#aed581">No limit</td>
        </tr>
        <tr>
            <td>Social accounts</td>
            <td style="background-color:#F08080">20</td>
            <td style="background-color:#aed581">No limit</td>
        </tr>
        <tr>
            <td>Unlimited content</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
        <tr>
            <td>Watermarked content</td>
            <td style="background-color:#F08080">Yes</td>
            <td style="background-color:#aed581">No</td>
        </tr>
        <tr>
            <td>Ad integrations</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#F08080">No</td>
        </tr>
    </table>

    <hr>

    <h2>RecurPost Large vs. IcyFire</h2>
    <ul style="list-style-type:none;">
        <li><a href="https://recurpost.com/plans-and-pricing">Source</a></li>
        <li><mark><b>333% of the price</b></mark></li>
    </ul>

    <table width=100%>
        <tr>
            <th>Criteria</th>
            <th>RecurPost Large</th>
            <th>IcyFire</th>
        </tr>
        <tr>
            <td>Users</td>
            <td style="background-color:#F08080">2</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Social accounts</td>
            <td style="background-color:#F08080">20</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Unlimited content</td>
            <td style="background-color:#F08080">No</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
        <tr>
            <td>Watermarked content</td>
            <td style="background-color:#F08080">Yes</td>
            <td style="background-color:#aed581">No</td>
        </tr>
        <tr>
            <td>Approval workflow</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
    </table>

    <hr>

    <h2>SproutSocial Standard vs. IcyFire</h2>
    <ul style="list-style-type:none;">
        <li><a href="https://sproutsocial.com/pricing/">Source</a></li>
        <li><mark><b>42% of the price</b></mark></li>
    </ul>

    <table width=100%>
        <tr>
            <th>Criteria</th>
            <th>SproutSocial Standard</th>
            <th>IcyFire</th>
        </tr>
        <tr>
            <td>Users</td>
            <td style="background-color:#F08080">2</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Social accounts</td>
            <td style="background-color:#F08080">5</td>
            <td style="background-color:#aed581">Unlimited</td>
        </tr>
        <tr>
            <td>Unlimited content</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
        <tr>
            <td>CRM tools</td>
            <td style="background-color:#aed581">Yes</td>
            <td style="background-color:#F08080">No</td>
        </tr>
        <tr>
            <td>Approval workflow</td>
            <td style="background-color:#F08080">No</td>
            <td style="background-color:#aed581">Yes</td>
        </tr>
    </table>
    
{%  endblock%}