{% extends "base.html" %}

{% block app_content %}
    <center><img src="{{ url_for('static', filename='do_good_cropped.jpg') }}" width=100% height="auto"></center>
    <h1><b>Do Good:</b> How IcyFire leads by example</h1>
    <br>
    <p><i>Thanks for taking the time to learn more about our company and our three guiding principles: <a href="{{ url_for('promo.help_others') }}">"help others"</a>, <a href="{{ url_for('promo.what_if') }}">"what if"</a>, and "do good."</i></p>
    <br>
    <p>Although the world has many problems and corporations are well-equipped to solve them, corporate social responsibility seems to come as an afterthought. This is regrettable, so we thought we’d lead by example. What if social responsibility was built into IcyFire’s business model? What if making a profit was only one of the things we do? What if we could leave communities better than we found them?</p>
    <p>For every after-expense dollar that IcyFire makes, we pledge to split it three different ways. One third will go to "People" projects, or ideas that make our communities more just, equitable, healthy, wealthy, and enriched. Another third will go to "Planet" projects, or ideas that help reduce or reverse environmental degradation. Our last third will go to "Profit" projects, or ideas that will help IcyFire earn more money in the future. We may not be as profitable as our competition, but as the saying goes, success without fulfillment is the ultimate failure.</p>

    <p>As a company, IcyFire is not far enough off the ground to launch this program yet. When we do, though, you can find our projects below:</p>
    <h2>IcyFire People</h2>
    <hr>
    <h2>IcyFire Planet</h2>
    <hr>
    <h2>IcyFire Profit</h2>
{% endblock %}