{% extends "base.html" %}

{% block app_content %}

<h1>{{ title }}</h1>

<h2>Your leads</h2>
<table width=100%>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Company name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>More info</th>
        <th>Contacted?</th>
    </tr>
    {% for x in leads %}
        <tr>
            <td>{{ x.first_name }}</td>
            <td>{{ x.last_name }}</td>
            <td>{{ x.company_name }}</td>
            <td>{{ x.phone_number }}</td>
            <td>{{ x.email }}</td>
            <td><a href="{{ url_for('sales.lead_info', lead_id=x.id) }}">More info</a></td>
            {% if x.is_contacted == false %}
                <td><a href="{{ url_for('sales.contacted_lead', lead_id=x.id) }}">I contacted this person!</a></td>
            {% else %}
                <td>Have you followed up recently?</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

<hr>

<h2>Your sales this month</h2>
<br>
<form action="{{ url_for('sales.create_sale') }}">
    <input type="submit" value="Record new sale">
</form>
<table width=100%>
    <tr>
        <th>Timestamp</th>
        <th>Client name</th>
        <th>Client phone</th>
        <th>Client email</th>
        <th>Invoice</th>
    </tr>
    {% for sale in sales %}
        <tr>
            <td>{{ moment(sale.timestamp).format('LLL') }}</td>
            <td>{{ sale.client_name }}</td>
            <td>{{ sale.client_phone_number }}</td>
            <td>{{ sale.client_email }}</td>
            <td>{{ sale.receipt_url }}</td>
        </tr>
    {% endfor %}
</table>
<!---
{% if subs is not none %}
    <h2>Your support team</h2>
    <table width=100%>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>CRTA code</th>
            <th>Total sales</th>
            <th>Phone number</th>
        </tr>
        {% for sub in subs %}
            <tr>
                <td>{{ sub.first_name }}</td>
                <td>{{ sub.last_name }}</td>
                <td>{{ sub.crta_code }}</td>
                <td>{{ sub.sales|length }}</td>
                <td>{{ sub.phone_number }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
--->
    
<!---
{% endif %}
--->
<!---
<hr>
<h2>Your sales this month</h2>
<br>
{% if subs is none %}
    <form action="{{ url_for('sales.create_sale') }}">
        <input type="submit" value="Record new sale">
    </form>
{% endif %}
<br>
<table width=100%>
    <tr>
        <th>Progress</th>
        <th>Expectation</th>
    </tr>
    {% if label == 'agent' %}
        {% if sales|length < 2 %}
            <td style="background-color:#F08080">{{ sales|length }}</td>
            <td>2</td>
        {% else %}
            <td style="background-color:#aed581">{{ sales|length }}</td>
            <td>2</td>
        {% endif %}
    {% elif label == 'team_lead' %}
        {% if sales|length < 30 %}
            <td style="background-color:#F08080">{{ sales|length }}</td>
            <td>30</td>
        {% else %}
            <td style="background-color:#aed581">{{ sales|length }}</td>
            <td>30</td>
        {% endif %}
    {% elif label == 'region_lead' %}
        {% if sales|length < 300 %}
            <td style="background-color:#F08080">{{ sales|length }}</td>
            <td>300</td>
        {% else %}
            <td style="background-color:#aed581">{{ sales|length }}</td>
            <td>30</td>
        {% endif %}
    {% elif label == 'country_lead' %}
        {% if sales|length < 1500 %}
            <td style="background-color:#F08080">{{ sales|length }}</td>
            <td>1500</td>
        {% else %}
            <td style="background-color:#aed581">{{ sales|length }}</td>
            <td>1500</td>
        {% endif %}
    {% endif %}
</table>
<br>
<table width=100%>
    <tr>
        <th>Timestamp</th>
        <th>Client name</th>
        <th>Client phone</th>
        <th>Client email</th>
        <th>Invoice</th>
    </tr>
    {% for sale in sales %}
        <tr>
            <td>{{ moment(sale.timestamp).format('LLL') }}</td>
            <td>{{ sale.client_name }}</td>
            <td>{{ sale.client_phone_number }}</td>
            <td>{{ sale.client_email }}</td>
            <td>{{ sale.receipt_url }}</td>
        </tr>
    {% endfor %}
</table>
<hr>
<h2>Your projected earnings this month</h2>
{% if label == 'agent' %}
    <table width=100%>
        <tr>
            <th>Sale timestamp</th>
            <th>Your commission</th>
        </tr>
        {% for sale in sales %}
            <tr>
                <td>{{ moment(sale.timestamp).format('LLL') }}</td>
                <td>$2,500.00</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <table width=100%>
        <tr>
            <td>Total commission</td>
            <td>{{ sales|length * 2500 }}
        </tr>
    </table>
{% elif label == 'team_lead' %}
    <table width=100%>
        <tr>
            <th>Sale timestamp</th>
            <th>Your commission</th>
        </tr>
        {% for sale in sales %}
            <tr>
                <td>{{ moment(sale.timestamp).format('LLL') }}</td>
                <td>$250.00</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <table width=100%>
        <tr>
            <td>Total commission</td>
            <td>{{ sales|length * 250 }}
        </tr>
    </table>
{% elif label == 'region_lead' %}
    <table width=100%>
        <tr>
            <th>Sale timestamp</th>
            <th>Your commission</th>
        </tr>
        {% for sale in sales %}
            <tr>
                <td>{{ moment(sale.timestamp).format('LLL') }}</td>
                <td>$150.00</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <table width=100%>
        <tr>
            <td>Total commission</td>
            <td>{{ sales|length * 150 }}
        </tr>
    </table>
{% elif label == 'country_lead' %}
    <table width=100%>
        <tr>
            <th>Sale timestamp</th>
            <th>Your commission</th>
        </tr>
        {% for sale in sales %}
            <tr>
                <td>{{ moment(sale.timestamp).format('LLL') }}</td>
                <td>$50.00</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <table width=100%>
        <tr>
            <td>Total commission</td>
            <td>{{ sales|length * 50 }}
        </tr>
    </table>
{% endif %}
--->
{% endblock %}