{% extends "base.html" %}

{% block app_content %}
    <h1>Successful Admin Console Access</h1>

    <p>These are your domain's ADMIN-200 logs for the past 14 days. They are created when a user successfully accesses the admin console.</p>
    <p>Clicking the link in the "User ID" column will bring you to a page where you can review the user's activity and/or change their permissions.</p>
    <p>"Viewer" is the user who viewed the user's information. "Target" is the user whose information was viewed.</p>
    <p>If you see something that isn't right and you can't control, such as a user you don't recognize accessing your console, please let us know by escalating it to the IcyFire CISO.</p>

    <h2>Admin dashboard</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in dashboard %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Get user info" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>Viewer ID</th>
            <th>Target ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in get_user_info %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td><a href="{{ url_for('admin.get_user_info', user_id=post.status_message) }}">User {{ post.status_message }}</a></td>
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Successful creations" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in create_success %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Attempted creations" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in create_fail %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Successful reads" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in read_success %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Attempted reads" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in read_fail %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Successful updates" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in update_success %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Attempted updates" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in update_fail %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Successful deletions" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in delete_success %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Attempted deletions" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in delete_fail %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Successful permission changes" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in permission_success %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Attempted permission changes" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in permission_fail %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Successful console access" page (this page)</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in admin_success %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Attempted console access" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in admin_fail %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Successful credential access" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in creds_success %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>"Attempted credential access" page</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in creds_fail %}
            <tr>
                <td>{{ moment(post.timestamp).format('LLL') }}</td>
                {% if post.user_id == current_user.id %}
                    <td>You</td>
                {% else %}
                    <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                {% endif %}
                <td>{{ post.ip_address }}</td>
                <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}