{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>User {{ user.id }}</h1>

    <h2>User information<h2>
    <p><b>Email:</b> {{ user.email }}</p>
    {% if user.domain_id == current_user.domain_id %}
        <p><b>Domain:</b> Part of your domain.</p>
    {% else %}
        <p><b>Domain: </b>Not part of your domain.</p>
    {% endif %}
    <p><b>Post count:</b> {{ user.post_count }}</p>
    <p><b>Admin:</p> {{ user.is_admin }}</p>

    <h2>User permissions</h2>
    {% if user.is_create == true %}
        <p><b>CREATE:</b> True | <a href="{{ url_for('admin.revoke_permission', permission='c', user_id={{ user.id }}) }}">Revoke</a></p>
    {% else %}
        <p><b>CREATE:</b> False | <a href="{{ url_for('admin.grant_permission', permission='c', user_id={{ user.id }}) }}">Grant</a></p>
    {% endif %}
    {% if user.is_read == true %}
        <p><b>READ:</b> True | <a href="{{ url_for('admin.revoke_permission', permission='r', user_id={{ user.id }}) }}">Revoke</a></p>
    {% else %}
        <p><b>READ:</b> False | <a href="{{ url_for('admin.grant_permission', permission='r', user_id={{ user.id }}) }}">Grant</a></p>
    {% endif %}
    {% if user.is_update == true %}
        <p><b>UPDATE:</b> True | <a href="{{ url_for('admin.revoke_permission', permission='u', user_id={{ user.id }}) }}">Revoke</a></p>
    {% else %}
        <p><b>UPDATE:</b> False | <a href="{{ url_for('admin.grant_permission', permission='u', user_id={{ user.id }}) }}">Grant</a></p>
    {% endif %}
    {% if user.is_delete == true %}
        <p><b>DELETE:</b> True | <a href="{{ url_for('admin.revoke_permission', permission='d', user_id={{ user.id }}) }}">Revoke</a></p>
    {% else %}
        <p><b>DELETE:</b> False | <a href="{{ url_for('admin.grant_permission', permission='d', user_id={{ user.id }}) }}">Grant</a></p>
    {% endif %}

    <h2>Activity in domain over the past 14 days</h2>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>IP address</th>
            <th>Endpoint</th>
            <th>Status code</th>
            <th>Status message</th>
        </tr>
        {% for activity in activities %}
            <tr>
                <td>{{ moment(activity.timestamp).format('LLL') }}</td>
                <td>{{ activity.ip_address }}</td>
                <td>{{ activity.endpoint }}</td>
                <td>{{ activity.status_code }}</td>
                <td>{{ activity.status_message }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}