{% extends "base.html" %}

{% block app_content %}
    <h1>Successful Updates</h1>

    <p>These are your domain's UPDATE-200 logs for the past 14 days. They are created when a user successfully updates a post.</p>
    <p>Clicking the link in the "User ID" column will bring you to a page where you can review the user's activity and/or change their permissions.</p>
    <p>Clicking the link in the "Post ID" column will bring you to a page where you can see the updated post.</p>
    <p>If you see something that isn't right and you can't control, such as a user you don't recognize accessing your posts, please let us know by escalating it to the IcyFire CISO.</p>

    <h2>Short text posts</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Platform</th>
            <th>Post ID</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in short_texts %}
            {% set var = post.status_message.split('|') %}
                <tr>
                    <td>{{ moment(post.timestamp).format('LLL') }}</td>
                    {% if current_user.id != post.user_id %}
                        <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                    {% else %}
                        <td>You</td>
                    {% endif %}
                    <td>{{ post.ip_address }}</td>
                    <td>{{ var[0] }}</td>
                    <td><a href="{{ url_for('main.update_short_text', platform=var[0], post_id=var[1]) }}">Post {{ var[1] }}</a></td>
                    <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
                </tr>
        {% endfor %}
    </table>

    <h2>Long text posts</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Platform</th>
            <th>Post ID</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in long_texts %}
            {% set var = post.status_message.split('|') %}
                <tr>
                    <td>{{ moment(post.timestamp).format('LLL') }}</td>
                    {% if current_user.id != post.user_id %}
                        <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                    {% else %}
                        <td>You</td>
                    {% endif %}
                    <td>{{ post.ip_address }}</td>
                    <td>{{ var[0] }}</td>
                    <td><a href="{{ url_for('main.update_long_text', platform=var[0], post_id=var[1]) }}">Post {{ var[1] }}</a></td>
                    <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
                </tr>
        {% endfor %}
    </table>

    <h2>Image posts</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Platform</th>
            <th>Post ID</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in images %}
            {% set var = post.status_message.split('|') %}
                <tr>
                    <td>{{ moment(post.timestamp).format('LLL') }}</td>
                    {% if current_user.id != post.user_id %}
                        <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                    {% else %}
                        <td>You</td>
                    {% endif %}
                    <td>{{ post.ip_address }}</td>
                    <td>{{ var[0] }}</td>
                    <td><a href="{{ url_for('main.update_image', platform=var[0], post_id=var[1]) }}">Post {{ var[1] }}</a></td>
                    <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
                </tr>
        {% endfor %}
    </table>

    <h2>Video posts</h2>
    <table width=100%>
        <tr>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>IP address</th>
            <th>Platform</th>
            <th>Post ID</th>
            <th>Something wrong?</th>
        </tr>
        {% for post in videos %}
            {% set var = post.status_message.split('|') %}
                <tr>
                    <td>{{ moment(post.timestamp).format('LLL') }}</td>
                    {% if current_user.id != post.user_id %}
                        <td><a href="{{ url_for('admin.get_user_info', user_id=post.user_id) }}">User {{ post.user_id }}</a></td>
                    {% else %}
                        <td>You</td>
                    {% endif %}
                    <td>{{ post.ip_address }}</td>
                    <td>{{ var[0] }}</td>
                    <td><a href="{{ url_for('main.update_video', platform=var[0], post_id=var[1]) }}">Post {{ var[1] }}</a></td>
                    <td><a href="{{ url_for('admin.escalate_ciso', post_id=post.id) }}">Escalate to IcyFire CISO</a></td>
                </tr>
        {% endfor %}
    </table>
{% endblock %}