{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Sorry to see you go!</h1>

    <p>IcyFire respects your privacy and holds your communication preferences in the highest regard. Your email address, {{ email }}, has successfully been removed from our mailing list. We apologize if we were sending you too many emails.</p>

    <p>Opting out does not affect your receipt of important business communications related to your current relationship with IcyFire, such as Security Team emails or password reset instructions.</p>
{% endblock %}