{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Privacy policy</h1>
    <br>
    <h2>Introduction to CCPA</h2>
    <p>In 2018, a regulation was passed in California called the California Consumer Privacy Act (CCPA). The intentions of the Act were to provide California residents with the right to:</p>
    <ul>
        <li>Know what personal data is being collected about them.</li>
        <li>Know whether their personal data is sold or disclosed and to whom.</li>
        <li>Say no to the sale of personal data.</li>
        <li>Access their personal data.</li>
        <li>Request a business to delete any personal information about a consumer collected from that consumer.</li>
        <li>Not be discriminated against for exercising their privacy rights.</li>
    </ul>
    <p>At IcyFire, we believe that privacy is a fundamental human right that should not depend on where you live. We will honor the CCPA for all users, even if you do not live in California.</p>
    <br>
    <h2>Introduction to GDPR</h2>
    <p>In 2016, a regulation was passed in the European Union called the General Data Protection Regulation (GDPR). It was intended to give individuals control over their personal information and encourage businesses to take appropriate steps to safeguard consumer data.</p>
    <p>Under the GDPR, you have the following rights:</p>
    <ul>
        <li>Transparency and modalities</li>
        <li>Information and access</li>
        <li>Rectification and erasure</li>
        <li>Right to object against automated decisions</li> 
    </ul>
    <p>Additionally, we have the following obligations:</p>
    <ul>
        <li>Pseudonymization</li>
        <li>Records of processing activities</li>
        <li>Security of personal data</li>
        <li>Data protection officer</li>
    </ul>
    <p>At IcyFire, we believe that privacy is a fundamental human right that should not depend on where you live. We will honor the GDPR for all users, even if you do not live in the European Union.</p>
    <br>
    <h2>The data we collect</h2>
    <h3>Domain information</h3>
    <ul>
        <li><b>Domain name:</b> This helps personalize the IcyFire user experience for everyone on your team. This is chosen by the domain admin during domain registration.</li>
        <li><b>Activation code:</b> We use this to make sure you have paid for the service when you register a new domain. IcyFire generated this code when the sale was finalized.</li>
        <li><b>Social media credentials:</b> We use this data to <a href="https://www.freecodecamp.org/news/what-is-an-api-in-english-please-b880a3214a82/">interact programmatically</a> with social media sites. The domain admin provided this information during domain registration. IcyFire encrypted the data before it was stored in our database.</li>
    </ul>

    <h3>User information</h3>
    <ul>
        <li><b>Email:</b> This is your email address. This allows you to sign in and allows us to communicate with you (e.g. if you forget your password). You provided this when you registered for an account.</li>
        <li><b>Password:</b> This is an encrypted version of your password. It helps authenticate your account during sign in. You provided this information when you registered for an account. IcyFire encrypted the data before it was stored in our database.</li>
        <li><b>Domain ID:</b> This is a link to your domain. It allows you and other team members to create social media posts for your domain. You provided this information when you registered for an account.</li>
        <li><b>Post count:</b> This is a count of all social media posts you have contributed to. It allows domain admins to assess your performance. This number started at zero and increments every time you contribute to (i.e. create or edit) a post.</li>
        <li><b>Permissions:</b> This is a list of permissions that your user account has. It allows domain admins to control your activity on the site (e.g. can this person delete posts?). For security reasons, your domain admin is in control of your permissions.</li>
        <li><b>CRTA code:</b> This is applicable to IcyFire contractors only. It symbolizes a rank in the sales hierarchy. If you are an employee or contractor, IcyFire generated this for you when you were onboarded. Otherwise, this is blank.</li>
    </ul>

    <h3>Social media posts</h3>
    <ul>
        <li><b>Domain ID:</b> This is a link to your domain. It allows you and other team members to create social media posts for your domain.</li>
        <li><b>User ID:</b> This is a link to your user account. We use it to see who last edited the post. This is recorded when you create or edit a post.</li>
        <li><b>Timestamp:</b> We use this to sort things in chronological order. This is recorded when you create a post.</li>
        <li><b>Post components:</b> These are what make up the post -- text, images, videos, tags, etc. This allows us to post the social media post on your domain's behalf. These are recorded when you create or edit a post.</li>
    </ul>

    <h3>Internal employee/contractor information</h3>
    <ul>
        <li><b>User ID:</b> This is a link to a contractor's user account. It allows a contractor to sign in and interact with the website.</li>
        <li><b>First and last name:</b> We like to refer to our contractors by their name, not by their CRTA code. This is not used for any other purpose besides individualization. This is provided when a contractor account is made.</li>
        <li><b>Phone number:</b> This is so we can contact a contactor if needed. This is provided when a sales account is made.</li>
        <li><b>CRTA code:</b> This represents a contractor's position in the IcyFire sales hierarchy. IcyFire generated this for the individual when they were onboarded.</li>
        <li><b>Sales:</b> This is how many sales have occurred in a contractor's jurisdiction. We use this data to calculate their commissions. This number started at zero and is incremented every time a sale is made in their jurisdiction.</li>
    </ul>

    <h3>Internal sales information</h3>
    <ul>
        <li><b>Individuals involved with the sale:</b> We collect this information to perform sales analytics and calculate commissions for our contractors. We infer this from who is reporting the sale.</li>
        <li><b>Timestamp:</b> We use this to sort things in chronological order. This is recorded when sales are reported.</li>
        <li><b>Client name:</b> We like to refer to our clients by their name, not by their invoice number. This is used for individualization and to make invoices. This is provided by the sales contractor when the sale is reported.</li>
        <li><b>Client address:</b> This is used to make invoices and to contact clients by snail mail if necessary. This is provided by the sales contractor when the sale is reported.</li>
        <li><b>Client phone number:</b> This is used to make invoices and to contact clients by phone if necessary. This is provided by the sales contractor when the sale is reported.</li>
        <li><b>Client email address:</b> This is used to make invoices and to contact clients by email if necessary. This is provided by the sales contractor when the sale is reported.</li>
        <li><b>Sales data:</b> This includes unit price, quantity sold, subtotal, sales tax, and total. We use this to make invoices and for internal accounting. This is provided by the sales contractor when the sale is reported.</li>
    </ul>

    <h3>Internal security information</h3>
    <ul>
        <li><b>User ID:</b> This is a link to a user account. If an account is hacked, we use this to tell the domain admin so they can shut it down.</li>
        <li><b>Timestamp:</b> We use this to sort things in chronological order. This is recorded as incidents occur.</li>
        <li><b>Geolocation data:</b> We use this to determine where do you usually log in from, raise the alarm if someone tries to log in from another continent, and block access attempts if necessary. This is provided in your HTTP request headers.</li>
        <li><b>Endpoints:</b> An <a href="https://blogs.biztalk360.com/web-endpoint-monitoring-biztalk360/#:~:text=In%20simple%20terms%2C%20a%20web,active%20server%20pages%20are%20exposed.">endpoint</a> is computer-speak for a URL. We use this to see what hackers are trying to get into. This is recorded as incidents occur.</li>
        <li><b>Status codes:</b> A <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">status code</a> indicates whether a request has succeeded or failed. ("404 Not Found" is an example of an HTTP status code.) We use this to see how far hackers are getting. These status logs are generated by the IcyFire website.</li>
        <li><b>Status details:</b> We use this for additional details about what the hackers are doing. These status messages are generated by the IcyFire website.</li>
    </ul>

    <h2>Is my data being sold?</h2>
    <p>No. All of your data is used internally and is not sold. We also promise not to spam your email with marketing emails.</p>

    {% if current_user.is_authenticated %}
        <h2>Your data</h2>
        <p>Here is all of the data we have collected about your domain and user account. If you want to talk to us about your data, please contact us at <a href="mailto:security@icy-fire.com">security@icy-fire.com</a>.</p>
        <hr>
        <h3>Domain information</h3>
        <table width=100%>
            <tr>
                <td>Domain name</td>
                <td>{{ domain.domain_name }}</td>
            </tr>
            <tr>
                <td>Activation code</td>
                <td>{{ domain.activation_code }}</td>
            </tr>
            {% for cred in facebook_creds %}
                <tr>
                    <td>{{ cred.alias }} time slots</td>
                    <td>{{ cred.time_slots }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted access token</td>
                    <td>{{ cred.access_token }}</td>
                </tr>
            {% endfor %}
            {% for cred in twitter_creds %}
                <tr>
                    <td>{{ cred.alias }} time slots</td>
                    <td>{{ cred.time_slots }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted consumer key</td>
                    <td>{{ cred.consumer_key }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted consumer secret</td>
                    <td>{{ cred.consumer_secret }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted access token key</td>
                    <td>{{ cred.access_token_key }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted access token secret</td>
                    <td>{{ cred.access_token_secret }}</td>
                </tr>
            {% endfor %}
            {% for cred in tumblr_creds %}
                <tr>
                    <td>{{ cred.alias }} time slots</td>
                    <td>{{ cred.time_slots }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} blog name</td>
                    <td>{{ cred.blog_name }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted consumer key</td>
                    <td>{{ cred.consumer_key }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted consumer secret</td>
                    <td>{{ cred.consumer_secret }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted OAuth token</td>
                    <td>{{ cred.oauth_token }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted OAuth secret</td>
                    <td>{{ cred.oauth_secret }}</td>
                </tr>
            {% endfor %}
            {% for cred in reddit_creds %}
                <tr>
                    <td>{{ cred.alias }} time slots</td>
                    <td>{{ cred.time_slots }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted client ID</td>
                    <td>{{ cred.client_id }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted client secret</td>
                    <td>{{ cred.client_secret }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted user agent</td>
                    <td>{{ cred.user_agent }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted username</td>
                    <td>{{ cred.username }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} encrypted password</td>
                    <td>{{ cred.password }}</td>
                </tr>
                <tr>
                    <td>{{ cred.alias }} target subreddit</td>
                    <td>{{ cred.target_subreddit }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <h3>User information</h3>
        <table width=100%>
            <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>Encrypted password</td>
                <td>{{ user.password_hash }}</td>
            </tr>
            <tr>
                <td>Domain ID</td>
                <td>{{ user.domain_id }}</td>
            </tr>
            <tr>
                <td>Post count</td>
                <td>{{ user.post_count }}</td>
            </tr>
            <tr>
                <td>Admin permission</td>
                <td>{{ user.is_admin }}</td>
            </tr>
            <tr>
                <td>Create permission</td>
                <td>{{ user.is_create }}
            </tr>
            <tr>
                <td>Read permission</td>
                <td>{{ user.is_read }}</td>
            </tr>
            <tr>
                <td>Update permission</td>
                <td>{{ user.is_update }}</td>
            </tr>
            <tr>
                <td>Delete permission</td>
                <td>{{ user.is_delete }}</td>
            </tr>
            <tr>
                <td>IcyFire CRTA</td>
                <td>{{ user.icyfire_crta }}</td>
            </tr>
        </table>
        <hr>
        <h3>Social media posts</h3>
        {% if current_user.icyfire_crta is none %}
            <p><a href="{{ url_for('main.dashboard') }}">Your domain's social media posts are accessible here.</a></p>
        {% else %}
            <p>This section is blank because we have detected that you are an IcyFire contractor or employee. This is not part of your user experience.</p>
        {% endif %}
        <hr>
        <h3>Internal employee/contractor information</h3>
        {% if current_user.icyfire_crta is none %}
            <p>This section is blank because we have detected that you are not an IcyFire contractor or employee. This is not part of your user experience.</p>
        {% else %}
            <table width=100%>
                <tr>
                    <td>User ID</td>
                    <td>{{ contractor.id }}</td>
                </tr>
                <tr>
                    <td>First and last name</td>
                    <td>{{ contractor.first_name }} {{ contractor.last_name }}</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>{{ contractor.phone_country }}-{{ contractor.phone_number }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ contractor.email }}</td>
                </tr>
                <tr>
                    <td>CRTA code</td>
                    <td>{{ contractor.crta_code }}</td>
                </tr>
                <tr>
                    <td>Sales</td>
                    <td>{{ contractor.sales|length }}</td>
                </tr>
            </table>
        {% endif %}
        <hr>
        <h3>Internal sales information</h3>
        {% if current_user.icyfire_crta is none %}
            <p>This section is blank because we have detected that you are not an IcyFire contractor or employee. All of the sales data we collected about your domain is on your invoice. Please contact us by email if you would like another copy of your invoice.</p>
        {% else %}
            <table width=100%>
                <tr>
                    <th>Timestamp</th>
                    <th>Client name</th>
                    <th>Client address</th>
                    <th>Client phone number</th>
                    <th>Client email</th>
                    <th>Sale details</th>
                </tr>
                {% for sale in sales %}
                    <tr>
                        <td>{{ moment(sale.timestamp).format('LLL') }}</td>
                        <td>{{ sale.client_name }}</td>
                        <td>{{ sale.client_street_address }}<br>{{ sale.client_city }}, {{ sale.client_state }}, {{ sale.client_country }} {{ sale.client_zip }}</td>
                        <td>{{ sale.client_phone_country }}-{{ sale.client_phone_number }}</td>
                        <td>{{ sale.client_email }}</td>
                        <td>Unit price: ${{ sale.unit_price }}<br>Quantity: {{ sale.quantity }}<br>Subtotal: ${{ sale.subtotal }}<br>Sales tax: ${{ sale.sales_tax }}<br>Total: ${{ sale.total }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <hr>
        <h3>Security information</h3>
        <table width=100%>
            <tr>
                <th>Timestamp</th>
                <th>IP address</th>
                <th>Endpoint</th>
                <th>Status code</th>
                <th>Status details</th>
            </tr>
            {% for incident in incidents %}
                <tr>
                    <td>{{ moment(incident.timestamp).format('LLL') }}</td>
                    <td>{{ incident.ip_address }}</td>
                    <td>{{ incident.endpoint }}</td>
                    <td>{{ incident.status_code }}</td>
                    <td>{{ incident.status_message }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
    {% else %}
        <h2>Access your data</h2>
        <p>Please <a href="{{ url_for('auth.login') }}">log in</a> to access your data.</p>
        <hr>
    {% endif %}

    <h2>Rectification and erasure</h2>
    <p>The GDPR states that IcyFire must respect several key rules in regard to data processing:</p>
    <ul>
        <li><b>Lawfulness, fairness, and transparency:</b> Personal data must be processed in a lawful and transparent manner, ensuring fairness towards the individuals whose personal data is being processed.</li>
        <li><b>Purpose limitation:</b> There must be specific purposes for processing the data and the company must indicate those purposes to individuals when collecting their personal data. A company can’t simply collect personal data for undefined purposes.</li>
        <li><b>Data minimization:</b> The company must collect and process only the personal data that is necessary to fulfill that purpose.</li>
        <li><b>Accuracy:</b> The company must ensure the personal data is accurate and up-to-date, having regard to the purposes for which it is processed, and correct it if not.</li>
        <li><b>Compatibility:</b> The company can’t further use the personal data for other purposes that aren’t compatible with the original purpose.</li>
        <li><b>Storage limitation:</b> The company must ensure that personal data is stored for no longer than necessary for the purposes for which it was collected.</li>
        <li><b>Integrity and confidentiality:</b> The company must install appropriate technical and organizational safeguards that ensure the security of the personal data, including protection against unauthorized or unlawful processing and against accidental loss, destruction or damage, using appropriate technology.</li>
    </ul>
    <p>Article 21 of the GDPR gives individuals the right to object to the processing of their personal data at any time. An objection may be in relation to all of the personal data we hold about an individual or only to certain information. It may also only relate to a particular purpose we are processing the data for.</p>
    <p>If you would like to request that we stop processing your data and/or delete your data, please contact us by email at <a href="mailto:security@icy-fire.com">security@icy-fire.com</a>. In your email, please explain your reasoning and what you guideline(s) you believe have been infringed upon. Please also specify what particular data points you would like us to take action on.</p>
    <p>In accordance with the GDPR, IcyFire reserves the right to refuse to comply with an objection (wholly or partially) if we find that it is manifestly unfounded or excessive. We reserve the right to consider each objection on a case-by-case basis.</p>
    <p>If your request is denied, you have the right to an explanation of our decision, the right to make a complaint to a supervisory authority, and the right to seek to enforce this right through a judicial remedy.</p>

    <h2>Pseudonymization</h2>
    <p>Pseudonymization is a process for stored data that transforms personal data in such a way that the resulting data cannot be attributed to a specific data subject without the use of additional information. We achieve this in the following ways:</p>
    <ul>
        <li>Encryption of social media credentials.</li>
        <li>Hashing of passwords.</li>
        <li>Use of SQL foreign keys instead of personal information as identifiers.</li>
    </ul>

    <h2>Records of processing activities</h2>
    <p>According to Article 30 of the GDPR, records of processing activities must be maintained that include purposes of the processing, categories involved, and envisaged time limits. The records must be made available to the supervisory authority on request.</p>
    <p>We achieve this level of transparency on this page by detailing what data is collected and why. We keep user and domain data for as long as an account is active. We keep social media data until it has been posted. We keep sales data indefinitely.</p>

    <h2>Security of personal data</h2>
    <p>Our security system, Sentry, is designed to establish a baseline for each user, monitor unusual behavior, and detect threats in real-time. Our extensive security data collection supports and enables this.</p>
    <p>As stated previously, we collect data that includes timestamps, geolocation data, user reference, endpoints, status codes, and status messages. Using this information, we can infer a great deal and detect intrusions and malicious behavior.</p>
    <p>We will do our best to prevent client data. If there is a breach, we will report it to the relevant authorities and individuals within 72 hours.</p>

    <h2>Data protection officer (DPO)</h2>
    <p>We have appointed an internal DPO that is knowledgable about our data collection practices and security systems. There is no conflict of interest in other roles or interest that our DPO holds. Our DPO and GDPR compliance officer can be reached at <a href="mailto:security@icy-fire.com">security@icy-fire.com</a>.</p>
{% endblock %}