{% extends "bootstrap/base.html" %}

{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
    <script type="text/javascript" id="cookiebanner" src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.2/dist/cookiebanner.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for('static', filename='client.js') }}" defer></script>
{% endblock %}

{% block title %}
	{% if title %}{{ title }} - IcyFire{% else %}Welcome to IcyFire{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('promo.home') }}">IcyFire</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('promo.home') }}">Home</a></li>
                    <li><a href="{{ url_for('promo.product') }}">Product</a></li>
                    <li><a href="{{ url_for('promo.help_others') }}">Help Others</a></li>
                    <li><a href="{{ url_for('promo.what_if') }}">What If?</a></li>
                    <li><a href="{{ url_for('promo.do_good') }}">Do Good</a></li>
                    {% else %}
                    <li><a href="{{ url_for('promo.home') }}">Home</a></li>
                    <li><a href="{{ url_for('promo.make_product_suggestion') }}">Give Feedback</a></li>
                    <li><a href="{{ url_for('main.help') }}">Help</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('promo.pricing') }}"><b>Pricing</b></a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    {% if current_user.is_admin == true %}
                    <li><a href="{{ url_for('admin.dashboard') }}">Admin Console</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('main.choose_queues', post_type='short_text') }}"> + Short Text</a></li>
                    <li><a href="{{ url_for('main.choose_queues', post_type='long_text') }}"> + Long Text</a></li>
                    <li><a href="{{ url_for('main.choose_queues', post_type='image') }}"> + Image</a></li>
                    <li><a href="{{ url_for('main.choose_queues', post_type='video') }}"> + Video</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
        <br><br>
        <hr>
        <footer>
            <table width=100%>
                <tr>
                    <th><b>PRODUCT</b></th>
                    <th><b>COMPANY</b></th>
                    <th><b>SECURITY</b></th>
                </tr>
                <tr>
                    <td><ul class="list-unstyled"><li><a href="{{ url_for('promo.product') }}">Product information</a></li>
                    <li><a href="{{ url_for('promo.pricing') }}">Pricing</a></li>
                    <li><a href="{{ url_for('auth.register_domain') }}">Register your domain</a></li>
                    <li><a href="{{ url_for('auth.link_social') }}">Link social media accounts</a></li>
                    <li><a href="{{ url_for('promo.contact_us') }}">Contact us</a></li>
                    <li><a href="{{ url_for('promo.make_product_suggestion') }}">Feedback</a></li>
                    <li><a href="{{ url_for('main.help') }}">Help</a></li></ul></td>

                    <td><ul class="list-unstyled"><li><a href="{{ url_for('promo.about') }}">About us</a></li>
                    <li><a href="{{ url_for('promo.blog') }}">Blog</a></li>
                    <li><a href="{{ url_for('legal.cookie_policy') }}">Cookie policy</a></li>
                    <li><a href="{{ url_for('legal.privacy_policy') }}">Privacy policy</a></li>
                    <li><a href="{{ url_for('legal.terms_of_service') }}">Terms of service</a></li>
                    <li><a href="{{ url_for('auth.register_contractor') }}">Employee registration</a></li>
                    <li><a href="{{ url_for('promo.careers') }}">Careers</a></li></ul></td>

                    <td><ul class="list-unstyled"><li><a href="{{ url_for('legal.vulnerability_disclosure_program') }}">Vulnerability disclosure program</a></li>
                    <li><a href="{{ url_for('legal.report_vulnerability') }}">Report a vulnerability</a></li>
                    <li><a href="{{ url_for('meta.system_status') }}">System status</a></li>
                    <li><a href="mailto:security@icy-fire.com">Contact security</a></li></ul></td>
                </tr>
            </table>
        </footer>
    </div>
{% endblock %}
